<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>Hello <%=name%></h1>

		<p>djsfldjsf dsfjldsjflds dsjfldjsf</p>

		<p style="background: orange; padding: 10px; border-radius: 5px">
			<%=numbers%>
		</p>

		<% if(name == "Yarob"){ %>
		<div>Name Is Yarob</div>
		<% } %>
	</body>
</html>
